html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
  text-align: center;
  /*background: #FF4F5D;*/
}

body.home-page{
  min-height: 500px;
  position: relative;
}

body.player-page{
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 480px;
  /*overflow: hidden;*/
  overflow-y: auto;
  background: #FF6C48;
  user-select: none;
}

footer{ width: 100%; margin: 80px 0 20px; color: #FFF; font-size: 16px; position: absolute; bottom: 0; z-index: 9999;}
footer a{ color: #FFF;}

a { color: #fff; }

.logo{
  display: inline-block;
  width: 95px;
  height: 35px;
  background: transparent url(../images/headline.png) no-repeat;
}

#top{
  width: 100%;
  line-height: 52px;
  position: fixed;
  top: 10%;
  z-index: 999;
  text-align: center;
  color: #FFF;
  font-size: 30px;
}

#top .logo{
  display: inline-block;
  width: 178px;
  height: 64px;
  background: transparent url(../images/logo-home.png) no-repeat;
  background-size: 178px 64px;
  text-indent: -9999px;
}


#content{
  display: none;
  position: relative;
  z-index: 9999;
}
#player-wrap .logo{ background-image: none;}

#title{ position: relative; z-index: 9999;}
.page-header{ color: #171717; font-size: 1.5em; border: none;}
.page-header small{ color: #999898; font-size: 0.8em; }

#player-wrap{ overflow: hidden; margin: 10px 0;}

#slider{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#slider .slides{
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
#slider li{
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slide-1{ background-image: url(../images/bg-1.jpg);}
.slide-2{ background-image: url(../images/bg-2.jpg);}
.slide-3{ background-image: url(../images/bg-3.jpg);}

#phone-wrap{
  width: 875px;
  height: 732px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
}
#phone{
  width: 875px;
  height: 732px;
  background: transparent url(../images/phone.png) bottom no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 999;
}
#carousel{
  width: 210px;
  height: 365px;
  left: 237px;
  top: 210px;
}


@media only screen and (-webkit-device-pixel-ratio: 2){
  .logo{ background-image: url(http://pili-static.qiniudn.com/jipai/images/logo@2x.png); background-size: 95px 35px; }
  #play{ background-image: url(../images/camera@2x.png); background-size: 128px 128px; }
  #top .logo{ background-image: url(../images/logo-home@2x.png); background-size: 178px 64px;}
}

@media (min-width: 320px) and (max-width: 479px) {
  .page-header{ font-size: 1.2em; }
  #phone-wrap{ display: none; }
}

@media (min-width: 480px) and (max-width: 767px) {
  .page-header{ font-size: 1.2em; }
  #phone-wrap{ display: none; }
}

@media (min-width: 768px) and (max-width: 991px) {
  .page-header{ font-size: 1.2em; }
  #phone-wrap{ display: none; }
}


.player-film{
  height: 94px;
  margin: -47px auto auto -67px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  user-select: none;
}

#cover{
  display: none;
  width: 2500px;
  height: 2500px;
  margin: -1250px 0 0 -1250px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  border-radius: 50%;
  background: #FFE7E3;
  -webkit-animation: coverall 2s ease-out 0 1;
  -moz-animation: coverall 2s ease-out 0 1;
  -o-animation: coverall 2s ease-out 0 1;
  animation: coverall 2s ease-out 0 1;
  user-select: none;
}

#wave{
  display: none;
  width: 100%;
  height: 120px;
  margin-top: -60px;
  position: fixed;
  top: 50%;
  z-index: 3;
}
#wave canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .15;
  z-index: 3;
}

#player-button{
  display: none;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  line-height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background: #FF633B;
  color: #FFF;
  font-size: 32px;
  z-index: 10;
  cursor: pointer;
  -webkit-animation: prerotate .8s ease-out 0 1;
  -moz-animation: prerotate .8s ease-out 0 1;
  -o-animation: prerotate .8s ease-out 0 1;
  animation: prerotate .8s ease-out 0 1;
  user-select: none;
}


#soundwave,
#soundwave:after,
#soundwave:before{
  width: 80px;
  height: 80px;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  border: solid 1px #FF6A47;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  -webkit-animation: soundwave 1.5s ease-out 0 infinite;
  -moz-animation: soundwave 1.5s ease-out 0 infinite;
  -o-animation: soundwave 1.5s ease-out 0 infinite;
  animation: soundwave 1.5s ease-out 0 infinite;

  user-select: none;
}

#soundwave{
  display: none;
  z-index: 3
}

#soundwave:before {
  content: '';
  z-index: 4;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

#soundwave:after {
  content: '';
  z-index: 5;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}


/* cover */
@-webkit-keyframes coverall{
  from {
    -webkit-transform: scale(0.001);
       -moz-transform: scale(0.001);
        -ms-transform: scale(0.001);
         -o-transform: scale(0.001);
            transform: scale(0.001);
  }
  to {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}
@-moz-keyframes coverall{
  from {
    -webkit-transform: scale(0.001);
       -moz-transform: scale(0.001);
        -ms-transform: scale(0.001);
         -o-transform: scale(0.001);
            transform: scale(0.001);
  }
  to {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}
@-o-keyframes coverall{
  from {
    -webkit-transform: scale(0.001);
       -moz-transform: scale(0.001);
        -ms-transform: scale(0.001);
         -o-transform: scale(0.001);
            transform: scale(0.001);
  }
  to {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes coverall{
  from {
    -webkit-transform: scale(0.001);
       -moz-transform: scale(0.001);
        -ms-transform: scale(0.001);
         -o-transform: scale(0.001);
            transform: scale(0.001);
  }
  to {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}


/* player button rotate */
@-webkit-keyframes prerotate{
  from {
    -webkit-transform: rotate(0deg) scale(0.1); /* Chrome 4+, Op 15+, Saf 3.1, iOS Saf 3.2+ */
       -moz-transform: rotate(0deg) scale(0.1); /* Fx 3.5-15 */
        -ms-transform: rotate(0deg) scale(0.1); /* IE 9 */
         -o-transform: rotate(0deg) scale(0.1); /* Op 10.5-12 */
            transform: rotate(0deg) scale(0.1); /* Fx 16+, IE 10+ */
  }
  to {
    -webkit-transform: rotate(360deg) scale(1);
       -moz-transform: rotate(360deg) scale(1);
        -ms-transform: rotate(360deg) scale(1);
         -o-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
@-moz-keyframes prerotate{
  from {
    -webkit-transform: rotate(0deg) scale(0.1);
       -moz-transform: rotate(0deg) scale(0.1);
        -ms-transform: rotate(0deg) scale(0.1);
         -o-transform: rotate(0deg) scale(0.1);
            transform: rotate(0deg) scale(0.1);
  }
  to {
    -webkit-transform: rotate(360deg) scale(1);
       -moz-transform: rotate(360deg) scale(1);
        -ms-transform: rotate(360deg) scale(1);
         -o-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
@-o-keyframes prerotate{
  from {
    -webkit-transform: rotate(0deg) scale(0.1);
       -moz-transform: rotate(0deg) scale(0.1);
        -ms-transform: rotate(0deg) scale(0.1);
         -o-transform: rotate(0deg) scale(0.1);
            transform: rotate(0deg) scale(0.1);
  }
  to {
    -webkit-transform: rotate(360deg) scale(1);
       -moz-transform: rotate(360deg) scale(1);
        -ms-transform: rotate(360deg) scale(1);
         -o-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
@keyframes prerotate{
  from {
    -webkit-transform: rotate(0deg) scale(0.1);
       -moz-transform: rotate(0deg) scale(0.1);
        -ms-transform: rotate(0deg) scale(0.1);
         -o-transform: rotate(0deg) scale(0.1);
            transform: rotate(0deg) scale(0.1);
  }
  to {
    -webkit-transform: rotate(360deg) scale(1);
       -moz-transform: rotate(360deg) scale(1);
        -ms-transform: rotate(360deg) scale(1);
         -o-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}


/* sound wave */
@-webkit-keyframes soundwave{
  0%   { border-width: 1px; opacity: 0;}
  35%  { border-width: 70px; opacity: 0.3;}
  65%  { border-width: 100px; opacity: 0.2;}
  95%  { border-width: 120px; opacity: 0;}
  100% { border-width: 1px; opacity: 0;}
}
@-moz-keyframes soundwave{
  0%   { border-width: 1px; opacity: 0;}
  35%  { border-width: 70px; opacity: 0.3;}
  65%  { border-width: 100px; opacity: 0.2;}
  95%  { border-width: 120px; opacity: 0;}
  100% { border-width: 1px; opacity: 0;}
}
@-o-keyframes soundwave{
  0%   { border-width: 1px; opacity: 0;}
  35%  { border-width: 70px; opacity: 0.3;}
  65%  { border-width: 100px; opacity: 0.2;}
  95%  { border-width: 120px; opacity: 0;}
  100% { border-width: 1px; opacity: 0;}
}
@keyframes soundwave{
  0%   { border-width: 1px; opacity: 0;}
  35%  { border-width: 70px; opacity: 0.3;}
  65%  { border-width: 100px; opacity: 0.2;}
  95%  { border-width: 120px; opacity: 0;}
  100% { border-width: 1px; opacity: 0;}
}
