<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pub page</title>

    <meta name="keywords" content="Pub page, Jipai" />
    <meta name="description" content="Jipai offer live services, is so cool.">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/twitter-bootstrap/3.2.0/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/font-awesome/4.2.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/flexslider.css">

    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.staticfile.org/flexslider/2.2.2/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>

  </head>
  <body class="home-page">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <h1 id="top">
      <a class="logo" href="/">极拍</a>
      <p>随时随地直播</p>
    </h1>

    <!-- Place somewhere in the <body> of your page -->
    <div id="slider" class="flexslider">
      <ul class="slides">
        <li class="slide-1"></li>
        <li class="slide-2"></li>
        <li class="slide-3"></li>
      </ul>
    </div>

    <div id="phone-wrap">
      <div id="carousel" class="flexslider">
        <ul class="slides">
          <li><img src="/assets/images/record-1.png" /></li>
          <li><img src="/assets/images/record-2.png" /></li>
          <li><img src="/assets/images/record-3.png" /></li>
        </ul>
      </div>
      <div id="phone"></div>
    </div>

  </body>
</html>
