<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pub page</title>

    <meta name="keywords" content="Pub page, Jipai" />
    <meta name="description" content="Jipai offer live services, is so cool.">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- <meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL"> -->

    <link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/twitter-bootstrap/3.2.0/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/font-awesome/4.2.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>

  </head>
  <body class="player-live">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">

    </div>

    <footer class="text-center">
      <a href="/" class="logo"></a>
    </footer>

  </body>
</html>
